saved_models
.venv
test.py
.zen
pipelines/__pycache__
steps/__pycache__
mlruns
data
sideQuest.py
.gitignore.swp
ui/__pycache__
*.h5
# Ignore trained models
*.h5
*.pt
*.pkl
*.onnx
*.ckpt
dockerized/trained_model/
temp_tokenizer/

# Ignore Python cache
__pycache__/
*.pyc
